.jSIwrL {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
  }
  @media (max-width: 1080px) {
    .jSIwrL {
      left: auto;
      right: 20px;
    }
  }
  @media (max-width: 768px) {
    .jSIwrL {
      display: none;
    }
  }
  .jJFfEJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .jJFfEJ:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
  .jJFfEJ a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
  }
  .jJFfEJ a:hover, .jJFfEJ a:focus {
    transform: translateY(-3px);
  }
  