.earxGk {
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fLSMpu {
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1;
}
.fLSMpu a {
  padding: 10px;
}
.fLSMpu .github-stats {
  margin-top: 10px;
}
.fLSMpu .github-stats > span {
  display: inline-flex;
  align-items: center;
  margin: 0 7px;
}
.fLSMpu .github-stats svg {
  display: inline-block;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}
